
body {
    margin: 0px;
    font-size: 10px;
}

.navbar {
    padding: 5px;
    background-image:linear-gradient(right azure, rgb(211, 211, 211));
    box-shadow: 1px 1px 5px gray;
    list-style-type: none;
    text-align: center;
    margin-left: -5%;
    margin: 0px;
    height: 3vw;
}

h1 {
    font-size: 10vw;
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
    margin-bottom: 1px;
}

.header {
    text-align: center;
}

.quote {
    display: inline-block;
    font-family: 'Kalam', cursive;
    margin-top: 1px;
    font-size: 2vw;
    width: 85%;
    font-weight: lighter;
}

.elon {
     width: 85%;
     border-radius: 0.5%;
}

