
body {
    margin: 0px;
}


.navbar {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(right azure, rgb(211, 211, 211));
    box-shadow: 1px 1px 5px gray;
    height: 50px;
    width: 100%;
    align-items: center;
}

.container { 
    width: 75%;
    align-content: center;
    height: 100%;
    line-height: 17px;
}

.items {
    list-style: none;
    display: flex;
}

li {
    padding: 20px;
    padding-top: 2px;
}

.logo {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
}

h1 {
    font-size: 10vw;
    font-family: 'Raleway', sans-serif;
    margin-top: 2px;
    margin-bottom: 1px;
    
}

.header {
    text-align: center;
}

.quote {
    display: inline-block;
    font-family: 'Kalam', cursive;
    margin-top: 1px;
    font-size: 2vw;
    width: 85%;
    font-weight: lighter;
}

.elon {
     width: 85%;
     border-radius: 0.5%;
}

