
body {
    margin: 0px;
    font-size: 10px;
    background-image: linear-gradient(-45deg, white, rgb(245, 245, 245), rgb(218, 218, 218), rgb(236, 236, 236), rgb(255, 255, 255));
    background-repeat: no-repeat;
}

.galleryHead {
    display: block;
    text-align: center;
    font-size: 5vw; 
    margin-top: 1px; 
}

.galleryHead h1 { 
    margin-bottom: 2px;
    font-family: 'Raleway', sans-serif;
    margin-top: 1px; 
}

.galleryHead h2 {
    margin-top: 2px;
    font-size: 2vw;
    font-family: 'Kalam', cursive;
    font-weight: lighter;
}

.navbar {
    padding: 5px;
    background-image:linear-gradient(right azure, rgb(211, 211, 211));
    box-shadow: 1px 1px 5px gray;
    list-style-type: none;
    text-align: center;
    margin-left: -5%;
    margin: 0px;
    height: 3vw; 
}

.homeJump {
    float: left;
}

.homeJump button {
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    border-color: transparent;
    border-radius: 4.5%;
}

.homeJump button:hover {
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    border-color: transparent;
    background-color: rgb(101, 180, 180);
}

#imageShowcase {
    width: 75%;
    height: 41vw;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
}


#change {
    height: 100%;
    width:100%;
    border-radius: 1%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
    height: 13vw;
    margin: 0 auto;
}

.flexContainer img {
    margin: 7px;
    margin-top: 1px;
    width: 15vw;
    height: 10vw;
    border-radius: 5%;
}

.bucket {
    position: relative;
    text-align: center;
}

.textInsinde {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3vw;
    width: 90%;
    color: white;
    background-color: rgba(172, 172, 172, 0.719);
    border-radius: 7%;
    visibility: hidden;
    opacity: 0; 
}

.bucket:hover .textInsinde {
    position: absolute;
    top: 50%;
    font-size: 1.3vw;
    width: 90%;
    color: rgb(253, 253, 253);
    background-color: rgba(172, 172, 172, 0.596);
    border-radius: 7%;
    visibility: visible;
    display: block;
    opacity: 100%;
}







